//** Footer

.footer {
    padding: 2em 0;
    //tablet and up
    .wrap--flex {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .footer__social {
        text-align: center;
    }
}
@media (min-width: 600px){
    .footer .wrap--flex {
        flex-direction: row;
    }
}
