//** Header

//## header primary
.header {
    position: fixed;
    height: $header-height;
    width: 100%;
    top: 0;
    transition: top .15s ease-in-out;
    overflow: hidden;
    z-index: 666;
    &.user-has-scrolldown {
        top: -$header-height;
    }
    &.user-has-scrollup {
        background-color: $white; //get bg color only when scroll, since want it to take colour of hero
    }
    .header__identity {
        line-height: 0;
        margin: 0;
    }
    .wrap {
        height: 100%;
    }
    .logo {
        background: none;
        border: 0;
        .bg-color {
            transition: fill  0.3s ease;
        }
        &:hover,
        &:active,
        &:focus {
            outline: 0;
            .bg-color {
                fill: $brand-color-primary;
            }
        }
    }
}

body {
    padding-top: $header-height;
}