//** Hero

.hero {
    margin-bottom: 2rem;
    .hero__title {
        color: $white;
        margin: 1em 0;
        padding: 1.5em 0;
        text-align: center;
        text-transform: uppercase;
    }
}
.hero--primary {
    background: $brand-color-secondary;
}
.hero--info {
    background: $white;
}
.hero__banner {
    overflow: hidden;
    width: 100%;
}
.hero__banner svg {
    display: block;
    margin: auto;
    max-width: 1020px;
    margin-left: -50%;
    width: 300%;

    .code line,
    .grid line {
        stroke-dasharray: 500;
        stroke-dashoffset: 500;
        animation: dash 2s linear forwards;
        &:nth-child(2) { animation-delay: .2s; }
        &:nth-child(3) { animation-delay: .4s; }
        &:nth-child(4) { animation-delay: .6s; }
        &:nth-child(5) { animation-delay: .8s; }
        &:nth-child(6) { animation-delay: 1s; }
        &:nth-child(7) { animation-delay: 1.2s; }
        &:nth-child(8) { animation-delay: 1.4s; }
        &:nth-child(9) { animation-delay: 1.6s; }
        &:nth-child(10) { animation-delay: 1.8s; }
        &:nth-child(11) { animation-delay: 2s; }
        &:nth-child(12) { animation-delay: 2.2s; }
        &:nth-child(13) { animation-delay: 2.4s; }
        &:nth-child(14) { animation-delay: 2.6s; }
        &:nth-child(15) { animation-delay: 2.8s; }
        &:nth-child(16) { animation-delay: 3s; }
        &:nth-child(17) { animation-delay: 3.2s; }
        &:nth-child(18) { animation-delay: 3.4s; }
        &:nth-child(19) { animation-delay: 3.6s; }
        &:nth-child(20) { animation-delay: 3.8s; }
        &:nth-child(21) { animation-delay: 4s; }
        &:nth-child(22) { animation-delay: 4.2s; }
        &:nth-child(23) { animation-delay: 4.4s; }
        &:nth-child(24) { animation-delay: 4.6s; }
        &:nth-child(25) { animation-delay: 4.8s; }
        &:nth-child(26) { animation-delay: 5s; }
        &:nth-child(27) { animation-delay: 5.2s; }
        &:nth-child(28) { animation-delay: 5.4s; }
        &:nth-child(29) { animation-delay: 5.6s; }
        &:nth-child(30) { animation-delay: 5.8s; }
        &:nth-child(31) { animation-delay: 6s; }
        &:nth-child(32) { animation-delay: 6.2s; }
        &:nth-child(33) { animation-delay: 6.4s; }
    }
    .head {
        animation-name: rock;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        transform-origin: 50% 50%;
    }
    .watch {
        animation-name: rotate;
        animation-duration: 60s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        transform-origin: 50% 50%;
    }
    .bubble1,
    .bubble2,
    .bubble3 {
        animation: bounceIn .4s linear forwards;
        transform-origin: 100% 50%;
        opacity: 0;
    }
    .bubble1 {
        animation-delay: 1s;
    }
    .bubble2 {
        animation-delay: 3s;
    }
    .bubble3 {
        animation-delay: 5s;
    }
    .eyeball clipPath {
         animation: blink 6s linear forwards;
         animation-iteration-count: infinite;
         transform-origin: 50% 50%;
    }
}
@media (min-width: 600px){
    .hero {
        margin-bottom: 4rem;
    }
    .hero__banner {
        width: 90%;
    }
    .hero__banner svg {
        margin: auto;
        width: 100%;
    }
}
@keyframes blink {
  0% {
    transform: scaleY(1);
  }
  68%{
    transform: scaleY(1);
  }
  70%{
    transform: scaleY(0);
  }
  72%{
    transform: scaleY(1);
  }
}
@keyframes bounceIn{
  0% {
    opacity: 0;
    transform: scale(0.3) translate3d(0,0,0);
  }
  50%{
    opacity: 0.9;
    transform: scale(1.1);
  }
  80%{
    opacity: 1;
    transform: scale(0.89);
  }
  100%{
    opacity: 1;
    transform: scale(1) translate3d(0,0,0);
  }
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes rock {
    0% {
        transform:rotate(0deg);
    }
    25% {
        transform:rotate(15deg);
    }
    50% {
        transform:rotate(0deg);
    }
    75% {
        transform:rotate(-15deg);
    }
    100% {
        transform:rotate(0deg);
    }
}
@keyframes rotate {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}