//** Icons

.icon--albinism {
    @include icon('icon-fiji', 150px, 150px);
}
.icon--browserpen {
    @include icon('icon-browserpen', 150px, 150px);
}
.icon--attrdiff {
    @include icon('icon-attrdiff', 150px, 150px);
}
.logo {
    // @include icon('logo', 63px, 54px);
}