//** Navigation

.nav {

    ul {
        list-style: none;
        margin: 0;
    }
    li {
        display: inline-block;
    }
}

@mixin nav-text-style() {
    font-family: $primary-font-family;
    font-weight: normal;
    text-transform: uppercase;
}

//## primary navigation
.nav--primary {
    @include nav-text-style();
    a,
    .faux-link {
        transition: color 0.3s ease;
        font-family: inherit;
        font-weight: inherit;
        text-transform: inherit;
        &:hover,
        &:active,
        &:focus {
            outline: 0;
            color: $brand-color-primary;
        }
    }
    .nav__item {
        margin-left: 1.5rem;
    }
    // .is-selected {
    //     @include mediumunderline($tone-light, 0, 1px);
    // }
}
