//** Sections

.section {

}
.section__title {
    padding: 1.5em 0;
    margin: 1em 0;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid $tone-light;
    border-top: 1px solid $tone-light;
}
.section__subtitle {
    text-transform: uppercase;
}
.section--intro {

}
.section--info__intro {
    margin-bottom: 4em;
}
.section--work {

}
.section--sideprojects {
    ul {
        list-style: none;
    }
    li {
        padding-bottom: 0.5em;
        hyphens: none;
    }
    em {
        color: $tone-mid;
        transition: color 300ms ease;
    }
    a {
        padding: 1em 0 1em 4.5em;
        transition: color 300ms ease, margin 160ms ease;

        &:hover,
        &:active,
        &:focus {
            color: $brand-color-primary;
            margin-bottom: 0.25em;
            margin-top: -0.25em;
            em {
                color: $brand-color-primary;
            }
        }
    }
    .icon {
        width: 3.5em;
        height: 3.5em;
        background-repeat: no-repeat;
        background-size: 100%;
        position: absolute;
        left: 0;
    }
}
.section--contact {
    background-color: $brand-color-primary;
    color: $white;
    display: flex;
    flex-direction: column;
    opacity: 0;
    a {
        @include anim-hover($brand-color-primary);
        color: inherit;
        &:hover,
        &:focus {
            color: $brand-color-secondary;
            &::before {
                background-color: lighten($brand-color-primary,50%);
            }
        }
    }
    .h4 {
        display: table;
        span {
            margin-right: 10px;
        }
    }
    .faux-link {
        color: inherit;
        cursor: pointer;
        position: absolute;
        right: 0;
        margin: 45px 0;
        top: 0;
        @include nav-text-style();
        z-index: 1;
    }
    .section__content {
        left: 50%;
        max-width: 650px;
        position: absolute;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
    }
}

@keyframes slideDown {
    0% {
        opacity: 0
    }
    1% {
        opacity: 1
    }
    to {
        top: 0;
        opacity: 1
    }
}
@keyframes slideUp {
    0% {
        top: 0;
        opacity: 1
    }
    99% {
        opacity: 1
    }
    to {
        opacity: 0
    }
}
.section--overlay {
    height: 100vh;
    left: 0;
    opacity: 0;
    position: fixed;
    top: -50vh;
    width: 100vw;
    z-index: 667;
    .wrap--block {
        height: 100%;
        position: relative;
    }
    &.is-active {
        animation: slideDown .45s cubic-bezier(.66,.96,.66,.96) forwards;
    }
    &.is-closed {
        animation: slideUp .45s cubic-bezier(.34,.04,.34,.04) forwards;
    }
}

.section--overlay.section--contact {
    height: 50vh;
}

