//** settings

//## Type settings
$em-base:               20px;
$base-font-size:        20px;
$base-line-height:      28px;
$base-font-family:      'inconsolata_regular', 'Courier New', Courier, monospace;
$primary-font-family:   'intro', 'Arial Black', Gadget, sans-serif;

$header-height:         $base-line-height * 4;
$grid-padding:          20px;

//## Color
$brand-color-primary:   #2ebd59;
$brand-color-secondary: #4855f1;
$brand-color-tertiary:  #fdcd00;
$brand-color-tertiary:  #fdcd00;

$white:                 #fff;
$black:                 #060a19;

$tone-dark:             #383b46;
$tone-mid:              #51545e;
$tone-light:            #999ba1;
$tone-lighter:          #e2e6ed;
$tone-lightest:         #f0f2f6;

$color-twitter:         #0082b2;
$color-pinterest:       #c72228;
$color-instagram:       #df306c;

//## settings for @include background-image() (_mixin.scss)
$image-path:            '../img' !default;
$fallback-extension:    'png' !default;
$retina-suffix:         '@2x';
//