<footer class="footer">
    <div class="wrap wrap--flex">
        <span class="footer__legal">© 2016 All rights reserved. </span>
        <span class="footer__social">Follow me on <a href="https://twitter.com/@benrhodesign" class="twitter" target="_blank">Twitter</a>, <a href="https://au.pinterest.com/benrhodesign/" class="pinterest" target="_blank">Pinterest</a> or <a href="https://www.instagram.com/benrhodesign" class="instagram" target="_blank">Instagram</a></span>
    </div>
</footer>