<header id="headerPrimary" class="header header--primary">
    <div class="wrap wrap--flex">
        <h1 class="header__identity">
            <button title="Ben Rhodes Digital" class="logo" type="button" onClick="Function.contactOpen()"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="63px" height="54px" viewBox="0 0 63 54" enable-background="new 0 0 63 54" xml:space="preserve"> <path class="bg-color" fill="#060A19" d="M63,1.9V0h-9.3l-3.6,2.5C50,2.3,50,2.1,50,1.9V0H35.1l-3.6,2.5c-0.1-0.2-0.1-0.4-0.1-0.7V0H22L0,15.8v1.9 c0,4.2,2.4,7.9,5.9,9.8L0,31.7v11.2C0,49,5,54,11.2,54h18.3c2.3,0,4.4-0.7,6.2-1.9l0,0L58,36.3l0,0c3-2,5-5.4,5-9.3v-1.9h-9.3 l0.1-0.2C59,24,63,19.5,63,14v-1.9h-6.7C60.2,10.4,63,6.4,63,1.9z"/> <path fill="#FFFFFF" d="M55.6,27c0,2.1-1.7,3.7-3.7,3.7H33.2c-2.1,0-3.7-1.7-3.7-3.7h-5.6c0,5.1,4.2,9.3,9.3,9.3h18.6 c5.1,0,9.3-4.2,9.3-9.3H55.6z"/> <path fill="#FFFFFF" d="M33.2,5.6c-2.1,0-3.7-1.7-3.7-3.7h-5.6c0,5.1,4.2,9.3,9.3,9.3c5.1,0,9.3-4.2,9.3-9.3h-5.6 C36.9,3.9,35.3,5.6,33.2,5.6z"/> <path fill="#FFFFFF" d="M51.8,5.6c-2.1,0-3.7-1.7-3.7-3.7h-5.6c0,5.1,4.2,9.3,9.3,9.3c5.1,0,9.3-4.2,9.3-9.3h-5.6 C55.6,3.9,53.9,5.6,51.8,5.6z"/> <path fill="#FFFFFF" d="M23.9,23.3v-5.6h9.3c2.1,0,3.7-1.7,3.7-3.7h5.6c0,5.1-4.2,9.3-9.3,9.3H23.9z"/> <path fill="#FFFFFF" d="M51.8,17.7c-2.1,0-3.7-1.7-3.7-3.7h-5.6c0,5.1,4.2,9.3,9.3,9.3c5.1,0,9.3-4.2,9.3-9.3h-5.6 C55.6,16,53.9,17.7,51.8,17.7z"/></svg></button>
        </h1>
        <% include ../molecule/nav-primary.ejs %>
    </div>
</header>