<% if(query.devmode) { %>
    <div class="landmark--dev-tools" id="devtools">
    <style>
    .landmark--dev-tools {
        width: 100%; padding: 10px; background: #3A3C83;color: #FF8181;font-family: monospace;font-size: 12px;
    }
    .landmark--dev-tools__settings {
        max-width: 1200px; margin: auto;
    }
    .landmark--dev-tools__settings:after {
        content: ''; 
        display: block; 
        clear: both;
    }
    .landmark--dev-tools__settings span {
        color: #3A3C83;background: #FF8181;padding:3px;margin-right: 3px;margin-bottom: 3px; display: inline-block; float: left;
    }
    .landmark--dev-tools__settings span strong {
        font-size: 10px;
    }
    </style>
    <div class="landmark--dev-tools__settings">
        
        <% _.map(locals, function(num, key){ %>
            <% if ( key != '_locals' && key != 'settings' && key != 'param' && key !=  'query' && key != '_' && key != 'cache' ) { %>
            <span><strong><%- key %></strong> : <%- locals[key] %></span> 
            <% } %>
        <% }); %>
        <% if ( _.has(locals, "_") ){ %>
            <span style="background: mediumseagreen">underscorejs</span> 
        <% } %>
    </div>
    </div>

    <% include ../dev/ascii.ejs %>
<% } %>

<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
<script>
$.get( "/status", function(data) {
    $('#devtools').append( JSON.stringify(data) );
})
.done(function(data) {
   
})
.fail(function() {
    alert( "error" );
});
</script>
