//* defaults
//links, input, form

a,
.faux-link {
    color: $tone-dark;
    display: inline-block;
    font-weight: bold;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    vertical-align: bottom;
}
.faux-link {
    text-transform: inherit;
    border: inherit;
    background: inherit;
    padding: inherit;
    &:active {
        outline: inherit;
    }
}
@mixin anim-hover-color($color: $tone-light) {
    &:hover {
        color: $color;
    }
    &::before {
        background-color: $color;
    }
}
@mixin anim-hover($color: $tone-light) {
    &::before {
        -webkit-font-smoothing: antialiased;
        background-color: $color;
        backface-visibility: hidden;
        content: '';
        height: 100%;
        left: 0;
        opacity: 0.25;
        pointer-events: none;
        position: absolute;
        top: 0;
        transform: translateY(90%);
        transition: transform 200ms, opacity 400ms;
        width: 100%;
        z-index: -1;
    }
    &:focus::before,
    &:hover::before {
        opacity: 0.15;
        transform: translateY(0);
    }
}
.footer a {
    @include anim-hover();
    &.twitter {
        @include anim-hover-color($color-twitter);
    }
    &.pinterest {
        @include anim-hover-color($color-pinterest);
    }
    &.instagram {
        @include anim-hover-color($color-instagram);
    }
}
