//** grid
//super simple grid
.grid {
  margin: 0 0 $grid-padding 0;

  &:after {
    @extend %clearfix;
  }
}
[class*='col-'] {
  float: left;
  padding-right: $grid-padding;
  .grid &:last-of-type {
    padding-right: 0;
  }
}
@media (min-width: 800px){
.col-2-3--medium {
  width: 66.66%;
}
.col-1-3--medium {
  width: 33.33%;
}
.col-1-2--medium {
  width: 50%;
}
.col-1-4--medium {
  width: 25%;
}
.col-1-6--medium {
  width: 16.66%;
}
}
.grid-pad {
  padding: $grid-padding 0 $grid-padding $grid-padding;
  [class*='col-']:last-of-type {
    padding-right: $grid-padding;
  }
}


//TODO recreate grid using http://susy.oddbird.net/