//** helpers

%clearfix {
    &:after {
        clear: both;
        content: '';
        display: block;
    }
}
.clearfix {
    @extend %clearfix;
}
// Completely remove from the flow but leave available to screen readers
%is-vishidden {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    //Extends the .is-vishidden class to allow the element to be focusable when navigated to via the keyboard
    &.focusable:active,
    &.focusable:focus {
        clip: auto;
        height: auto;
        overflow: visible;
        position: static;
        width: auto;
    }
}
%is-visible {
    display: block;
}
// Add  max-height to create expandable sections animation with css
%is-closed {
    overflow: hidden;
}
%is-open {
    height: auto;
}
%ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    text-indent: -9999em;
}
