//** Main
//body, layout, image/object/video, hr, links

.content:focus {
    outline: 0;
}
.wrap {
    margin-left: auto;
    margin-right: auto;
    max-width: 1420px;
    // text-rendering: optimizespeed;
    width: 90%;
}
.wrap--flex {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.wrap--block {

}
@media (min-width: 1250px) {
    .wrap {
        width: 84%;
    }
}

.cannot-scroll {
    height: 100%;
    overflow: hidden;
}