//** Mixins

//## Math
// Strips the unit of measure and returns int
@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

//## Bgimage
@mixin background-image($name, $size:false) {
    background-image: url(#{$image-path}/svg/#{$name}.svg);
    @if($size){
        background-size: $size;
    }
    .no-svg &{
        background-image: url(#{$image-path}/png/#{$name}.#{$fallback-extension});

        @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
          background-image: url(#{$image-path}/png/#{$name}#{$retina-suffix}.#{$fallback-extension});
        }
    }
}

//## Icons
@mixin icon($name, $width:false, $height:false) {
    @extend %ir;
    $size: false;
    @if ($width) {
        $size: #{$width} #{$height};
        display: inline-block;
        height: $height;
        width: $width;
    }
    @include background-image($name, $size);
}

@mixin mediumunderline($color: rgba(0, 0, 0, 0.5), $start: 0.05em, $end: 0.15em) {
    // Could use Modernizr
    // http://modernizr.com/download/#-cssgradients-printshiv-cssclasses-prefixes-cssclassprefix:has!
    // text-decoration: underline;
    // .has-cssgradients & {
        text-decoration: none;
        background-image: linear-gradient(to top, transparent, transparent $start, $color $start, $color $end, transparent $end );
    // }
}

//## Font
//@include font-size(14px)
//output :: font-size: 14px; font-size: 0.8rem;
@function calculateEm($size) {
  $emSize: $size / 16px;
  @return $emSize * 1em;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}