//* typography
//headings, p, blockquote, small, code, pre, mark

body {
    color: $black;
    font: normal 100%/1.5 sans-serif;
    font-family: $base-font-family;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}
@media (min-width: 600px){
    body {
        font-size: 100%;
    }
}
@media (min-width: 800px){
    body {
        font-size: 118.8%;
    }
}
@media (min-width: 1030px){
    body {
        font-size: 137.5%;
    }
}
@media (min-width: 1250px){
    body {
        font-size: 143.8%;
    }
}
@media (min-width: 1400px){
    body {
        font-size: 150%;
    }
}

@font-face {
    font-family: 'intro';
    src: url('../fonts/intro-book-webfont.woff2') format('woff2'),
         url('../fonts/intro-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'intro';
    src: url('intro-bold-webfont.woff2') format('woff2'),
         url('intro-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'intro';
    src: url('../fonts/intro-black-webfont.woff2') format('woff2'),
         url('../fonts/intro-black-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'inconsolata_regular';
    src: url('../fonts/inconsolata-regular-webfont.woff2') format('woff2'),
         url('../fonts/inconsolata-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'inconsolata_bold';
    src: url('../fonts/inconsolata-bold-webfont.woff2') format('woff2'),
         url('../fonts/inconsolata-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

h1,
.h1 {
    font-family: $primary-font-family;
    font-size: 4em;
    line-height: 1.3em;
}
h2,
.h2 {
    font-family: $primary-font-family;
    font-size: 2.5em;
    font-weight: 700;
    line-height: 1.3em;
}
h3,
.h3 {
    font-family: $primary-font-family;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.3em;
}
h4,
.h4 {
    font-family: $primary-font-family;
    font-size: 1.667em;
    font-weight: bold;
    line-height: 1.3em;
}
h5,
.h5 {
    font-family: $primary-font-family;
    font-size: 1.375em;
    font-weight: 700;
    line-height: 1.3em;
}
h6,
.h6 {
    font-family: $base-font-family;
    font-size: 1.375em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.3em;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h6 {
    margin-bottom: .25em;
    margin-top: 0;
}
p {
    margin-bottom: 2em;
}
