<nav class="nav nav--primary" role="navigation">
    <ul>
        <!-- <li class="nav__item"><a href="">Work</a></li> -->
        <li class="nav__item is-selected"><a href="/info">Info</a></li>
        <!-- <li class="nav__item"><a href="">Blog</a></li> -->
        <li class="nav__item"><button class="faux-link" type="button" onClick="Function.contactOpen()">Contact</button></li>
    </ul>
</nav>
