<?xml version="1.0" encoding="utf-8"?>
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     width="980px" viewBox="0 0 980 560" enable-background="new 0 0 980 560" xml:space="preserve">
<path fill="#AAADB2" d="M596.5,434.7c-32.1,0-31.7-30.9-64.3-30.9c-32.5,0-32,30.9-64.5,30.9s-32.4-30.9-64.9-30.9s-32.5,31-65,31
    c-32.5,0-32.5-30.9-65-30.9s-32.5,31-65,31s-32.6-30.4-65.1-30.4l0.1,49.7h248.3h205.4V434.7z"/>
<path fill="#2EBD59" d="M908.1,339.5c-27.5,0-27.1-26.4-55-26.4c-27.8,0-27.4,26.4-55.2,26.4s-27.7-26.4-55.5-26.4
    s-27.8,26.5-55.6,26.5c-27.8,0-27.8-26.4-55.6-26.4s-27.8,26.5-55.6,26.5s-27.9-26-55.6-26l0.1,42.5h212.3h175.6V339.5z"/>
<path fill="#E2E6ED" d="M882.2,111h-59.3c-4.4,0-7.9,3.6-7.9,8s3.5,8,7.9,8h59.3c4.4,0,7.9-3.6,7.9-8S886.6,111,882.2,111z"/>
<path fill="#E2E6ED" d="M868.6,143c4.4,0,7.9-3.6,7.9-8s-3.5-8-7.9-8h-38.5c0,8,7.1,16,15.8,16H868.6z"/>
<path fill="#AAADB2" d="M300.9,169h-69.1c-5.1,0-9.2,4.4-9.2,9.5s4.1,9.5,9.2,9.5h69.1c5.1,0,9.2-4.4,9.2-9.5S306,169,300.9,169z"
    />
<path fill="#AAADB2" d="M285.1,206c5.1,0,9.2-3.9,9.2-9s-4.1-9-9.2-9h-44.8c0,10,8.2,18,18.4,18H285.1z"/>
<path fill="#AAADB2" d="M776.1,119c0-21,17.3-38.6,38.6-38.6S853.2,98,853.2,119H776.1z"/>
<path fill="#AAADB2" d="M735.4,119c0-11,8.6-19.3,19.3-19.3c10.7,0,19.3,8.3,19.3,19.3H735.4z"/>
<path fill="#E2E6ED" d="M256.4,101c-9,0-16.4-8-16.4-17s7.3-17,16.4-17h114.1c0,19-14.7,34-32.7,34H256.4z"/>
<path fill="#E2E6ED" d="M346.4,69c0-18-14.7-32.7-32.7-32.7S280.9,51,280.9,69H346.4z"/>
<path fill="#B6BBF9" d="M302.9,319c-16.9,0-16.7-16.3-33.9-16.3c-17.1,0-16.9,16.3-34,16.3s-17.1-16.3-34.2-16.3
    S183.7,319,166.6,319c-17.1,0-17.1-16.3-34.2-16.3s-17.1,16.3-34.2,16.3s-17.2-16-34.3-16l0,26.2h130.8h108.2V319z"/>
<circle fill="#AAADB2" cx="872.4" cy="375.7" r="4.5"/>
<circle fill="#AAADB2" cx="891.9" cy="375.7" r="4.5"/>
<circle fill="#AAADB2" cx="862.7" cy="389.2" r="4.5"/>
<circle fill="#AAADB2" cx="882.2" cy="389.2" r="4.5"/>
<circle fill="#AAADB2" cx="872.4" cy="401" r="4.5"/>
<circle fill="#AAADB2" cx="891.9" cy="401" r="4.5"/>
<circle fill="#AAADB2" cx="863" cy="414.5" r="4.5"/>
<circle fill="#AAADB2" cx="882.5" cy="414.5" r="4.5"/>
<circle fill="#AAADB2" cx="872.7" cy="426.3" r="4.5"/>
<circle fill="#AAADB2" cx="892.2" cy="426.3" r="4.5"/>
<circle fill="#AAADB2" cx="910.9" cy="375.7" r="4.5"/>
<circle fill="#AAADB2" cx="901.2" cy="389.2" r="4.5"/>
<circle fill="#AAADB2" cx="920.7" cy="389.2" r="4.5"/>
<circle fill="#AAADB2" cx="910.9" cy="401" r="4.5"/>
<circle fill="#AAADB2" cx="901.6" cy="414.5" r="4.5"/>
<circle fill="#AAADB2" cx="921.1" cy="414.5" r="4.5"/>
<circle fill="#AAADB2" cx="911.3" cy="426.3" r="4.5"/>
<circle fill="#243ABA" cx="169.9" cy="382.9" r="7.8"/>
<circle fill="#243ABA" cx="203.8" cy="382.9" r="7.8"/>
<circle fill="#243ABA" cx="101.9" cy="382.9" r="7.8"/>
<circle fill="#243ABA" cx="135.9" cy="382.9" r="7.8"/>
<circle fill="#243ABA" cx="153" cy="406.4" r="7.8"/>
<circle fill="#243ABA" cx="186.9" cy="406.4" r="7.8"/>
<circle fill="#243ABA" cx="85" cy="406.4" r="7.8"/>
<circle fill="#243ABA" cx="119" cy="406.4" r="7.8"/>
<circle fill="#243ABA" cx="169.9" cy="427" r="7.8"/>
<circle fill="#243ABA" cx="203.8" cy="427" r="7.8"/>
<circle fill="#243ABA" cx="101.9" cy="427" r="7.8"/>
<circle fill="#243ABA" cx="135.9" cy="427" r="7.8"/>
<circle fill="#243ABA" cx="153.6" cy="450.5" r="7.8"/>
<circle fill="#243ABA" cx="187.6" cy="450.5" r="7.8"/>
<circle fill="#243ABA" cx="85.6" cy="450.5" r="7.8"/>
<circle fill="#243ABA" cx="119.6" cy="450.5" r="7.8"/>
<circle fill="#243ABA" cx="170.5" cy="471" r="7.8"/>
<circle fill="#243ABA" cx="204.4" cy="471" r="7.8"/>
<circle fill="#243ABA" cx="102.5" cy="471" r="7.8"/>
<circle fill="#243ABA" cx="237" cy="382.9" r="7.8"/>
<circle fill="#243ABA" cx="220.1" cy="406.4" r="7.8"/>
<circle fill="#243ABA" cx="254.1" cy="406.4" r="7.8"/>
<circle fill="#243ABA" cx="237" cy="427" r="7.8"/>
<circle fill="#243ABA" cx="220.7" cy="450.5" r="7.8"/>
<circle fill="#243ABA" cx="254.7" cy="450.5" r="7.8"/>
<circle fill="#243ABA" cx="237.6" cy="471" r="7.8"/>
<circle fill="#243ABA" cx="136.5" cy="471" r="7.8"/>
<path fill="#AAADB2" d="M545,84h-32.6c-6.6,0-11.9,5.4-11.9,12s5.3,12,11.9,12H545c6.6,0,11.9-5.4,11.9-12S551.6,84,545,84z"/>
<path fill="#AAADB2" d="M621.5,61h-89.2c-6.6,0-11.9,4.9-11.9,11.5S525.7,84,532.3,84h89.2c6.6,0,11.9-4.9,11.9-11.5
    S628,61,621.5,61z"/>
<path fill="#AAADB2" d="M685.6,84h-89.2c-6.6,0-11.9,5.4-11.9,12s5.3,12,11.9,12h89.2c6.6,0,11.9-5.4,11.9-12S692.1,84,685.6,84z"
    />
<path fill="#AAADB2" d="M675.1,84c0-5-5.3-11.9-11.9-11.9S651.4,79,651.4,84H675.1z"/>
<path fill="#AAADB2" d="M282.4,240c0-11-9.2-20.6-20.6-20.6s-20.6,9.6-20.6,20.6H282.4z"/>
<path fill="#AAADB2" d="M302.8,240c0-5-4.6-10.3-10.3-10.3s-10.3,5.3-10.3,10.3H302.8z"/>
<path fill="#AAADB2" d="M241.1,240c0-5-4.6-10.3-10.3-10.3s-10.3,5.3-10.3,10.3H241.1z"/>
<path fill="#B6BBF9" d="M685.5,199c0-9-7.8-17.3-17.3-17.3s-17.3,8.3-17.3,17.3H685.5z"/>
<path fill="#B6BBF9" d="M692.3,199h-50.7c-4.8,0-8.7,3.7-8.7,8.5s3.9,8.5,8.7,8.5h50.7c4.8,0,8.7-3.7,8.7-8.5S697.1,199,692.3,199z
    "/>
<path fill="#B6BBF9" d="M675.2,216c4.8,0,8.7,4.2,8.7,9s-3.9,9-8.7,9h-42.3c0-9.9,7.8-18,17.3-18H675.2z"/>
<polygon fill="#2EBD59" points="147.6,374.3 151.5,388 156.1,388 159.9,374.3 153.8,371.2 "/>
<rect x="294.3" y="108.6" fill="#E2E6ED" width="334.9" height="200.5"/>
<path fill="#51545E" d="M621.5,95.5H301.9c-4.2,0-7.7,3.5-7.7,7.7v5.4h334.9v-5.4C629.2,99,625.7,95.5,621.5,95.5z"/>
<circle fill="#FDCD00" cx="308.5" cy="102.1" r="2.7"/>
<circle fill="#FFFFFF" cx="316.2" cy="102.1" r="2.7"/>
<circle fill="#FFFFFF" cx="323.9" cy="102.1" r="2.7"/>
<path fill="#ABE5BD" d="M113.9,205H36.6c-5.7,0-10.3,4.8-10.3,10.5S30.9,226,36.6,226h77.3c5.7,0,10.3-4.8,10.3-10.5
    S119.5,205,113.9,205z"/>
<path fill="#ABE5BD" d="M96.1,246c5.7,0,10.3-4.3,10.3-10s-4.6-10-10.3-10H45.9c0,11,9.2,20,20.6,20H96.1z"/>
<path fill="#B6BBF9" d="M183.1,96h48.1c3.5,0,6.4,3,6.4,6.5s-2.9,6.5-6.4,6.5h-48.1c-3.5,0-6.4-3-6.4-6.5S179.5,96,183.1,96z"/>
<path fill="#B6BBF9" d="M148.5,109h48.1c3.5,0,6.4,3,6.4,6.5s-2.9,6.5-6.4,6.5h-48.1c-3.5,0-6.4-3-6.4-6.5S145,109,148.5,109z"/>
<path fill="#B6BBF9" d="M154.2,109c0-3,2.9-6.4,6.4-6.4s6.4,3.4,6.4,6.4H154.2z"/>
<path fill="#E2E6ED" d="M800.4,200c0-11-9.2-20.6-20.6-20.6c-11.3,0-20.6,9.6-20.6,20.6H800.4z"/>
<path fill="#E2E6ED" d="M820.8,200c0-5-4.6-10.3-10.3-10.3s-10.3,5.3-10.3,10.3H820.8z"/>
<path fill="#E2E6ED" d="M120.9,266c0-6-5.6-12.6-12.6-12.6S95.8,260,95.8,266H120.9z"/>
<path fill="#E2E6ED" d="M125.9,266H89.1c-3.5,0-6.3,3-6.3,6.5s2.8,6.5,6.3,6.5h36.8c3.5,0,6.3-3,6.3-6.5S129.4,266,125.9,266z"/>
<path fill="#E2E6ED" d="M113.5,279c3.5,0,6.3,3,6.3,6.5s-2.8,6.5-6.3,6.5H82.8c0-7.3,5.6-13,12.6-13H113.5z"/>
<g class="eyeball">
    <path fill="#4855F1" d="M471.7,333c-8.9-8.9-20.8-13.9-33.4-13.9s-24.5,4.9-33.4,13.9c-8.9,8.9-13.9,20.8-13.9,33.4
        s4.9,24.5,13.9,33.4c8.9,8.9,20.8,13.9,33.4,13.9s24.5-4.9,33.4-13.9c8.9-8.9,13.9-20.8,13.9-33.4S480.6,342,471.7,333z"/>
    <defs>
        <path id="clip" d="M477.8,368.1C477,369,460.1,391,438.3,391s-38.9-21.9-39.5-22.9c-1.1-1.4-1-3.4,0.1-4.8
            c0.8-0.9,17.7-21.4,39.5-21.4s38.7,20.5,39.5,21.4C478.8,364.7,478.9,366.7,477.8,368.1z"/>
    </defs>
    <clipPath id="clip_1_">
        <use xlink:href="#clip" overflow="visible"/>
    </clipPath>
    <path clip-path="url(#clip_1_)" fill="#FFFFFF" d="M471.7,333c-8.9-8.9-20.8-13.9-33.4-13.9s-24.5,4.9-33.4,13.9
        c-8.9,8.9-13.9,20.8-13.9,33.4s4.9,24.5,13.9,33.4c8.9,8.9,20.8,13.9,33.4,13.9s24.5-4.9,33.4-13.9c8.9-8.9,13.9-20.8,13.9-33.4
        S480.6,342,471.7,333z"/>
    <circle class="eye" clip-path="url(#clip_1_)" fill="#2EBD59" cx="438.3" cy="366.4" r="22.4"/>
    <circle class="eye" clip-path="url(#clip_1_)" fill="#060A19" cx="438.3" cy="366.4" r="8.9"/>
</g>
<path fill="#060A19" d="M833.4,209.3h-138c-4.2,0-7.7,3.5-7.7,7.7v5.4h153.4V217C841.1,212.7,837.6,209.3,833.4,209.3z"/>
<rect x="687.7" y="221.2" fill="#51545E" width="153.4" height="196.9"/>
<circle fill="#FDCD00" cx="701.9" cy="215.8" r="2.7"/>
<circle fill="#FFFFFF" cx="709.6" cy="215.8" r="2.7"/>
<circle fill="#FFFFFF" cx="717.3" cy="215.8" r="2.7"/>
<rect x="687.7" y="221.2" fill="#3D3F47" width="41.2" height="196.9"/>
<rect x="821.8" y="221.2" fill="#3D3F47" width="19.2" height="83.3"/>
<path fill="#060A19" d="M264.3,409.7c0,4.2-3.5,7.7-7.7,7.7h-76.9c-4.2,0-7.7-3.5-7.7-7.7V255.8c0-4.2,3.5-7.7,7.7-7.7h76.9
    c4.2,0,7.7,3.5,7.7,7.7V409.7z"/>
<path fill="#4D5159" d="M233.8,260h-31.5c-0.6,0-1.1,0.4-1.1,1s0.5,1,1.1,1h31.5c0.6,0,1.1-0.4,1.1-1S234.5,260,233.8,260z"/>
<path fill="#4D5159" d="M233.8,404h-31.5c-0.6,0-1.1,0.4-1.1,1s0.5,1,1.1,1h31.5c0.6,0,1.1-0.4,1.1-1S234.5,404,233.8,404z"/>
<circle fill="#4855F1" cx="192.8" cy="261.1" r="2.7"/>
<rect x="183" y="273" fill="#FFFFFF" width="69" height="119"/>
<rect x="512.1" y="368.6" fill="#FDCD00" width="186.3" height="24"/>
<circle fill="#FFFFFF" cx="517.1" cy="380.6" r="1.4"/>
<circle fill="#FFFFFF" cx="529" cy="380.6" r="1.4"/>
<circle fill="#FFFFFF" cx="541" cy="380.6" r="1.4"/>
<circle fill="#060A19" cx="611.2" cy="380.6" r="30.8"/>
<path fill="#51545E" d="M611.2,404.2c-13,0-23.6-10.6-23.6-23.6s10.6-23.6,23.6-23.6c13,0,23.6,10.6,23.6,23.6
    S624.2,404.2,611.2,404.2z"/>
<polygon fill="#FDCD00" points="512.1,392.6 497.4,380.6 512.1,368.6     "/>
<rect x="702.4" y="368.6" fill="#E2E6ED" width="7.3" height="24"/>
<rect x="698.4" y="368.6" fill="#E2E6ED" width="4" height="1.2"/>
<rect x="698.4" y="391.4" fill="#E2E6ED" width="4" height="1.2"/>
<path fill="#E2E6ED" d="M601.6,381.6h10c0.3,0,0.6-0.7,0.6-1c0-0.3-0.3-1-0.6-1h-10c-0.3,0-0.6,0.7-0.6,1
    C601,381,601.3,381.6,601.6,381.6z"/>
<path fill="#E2E6ED" d="M624.2,392.9l-12.7-12.7c-0.2-0.2-0.6-0.2-0.8,0s-0.2,0.6,0,0.8l12.7,12.7c0.2,0.2,0.6,0.2,0.8,0
    S624.4,393.1,624.2,392.9z"/>
<path class="bubble3" fill="#FDCD00" d="M210.7,364.7h29.7c3.5,0,6.3,2.8,6.3,6.3s-2.8,6.3-6.3,6.3h-3.1l5.2,6.7l-13.1-6.7h-18.8
    c-3.5,0-6.3-2.8-6.3-6.3S207.2,364.7,210.7,364.7z"/>
<path class="bubble1" fill="#FDCD00" d="M219.2,329.7h21.3c3.5,0,6.3,2.8,6.3,6.3s-2.8,6.3-6.3,6.3h-3.1l5.2,6.7l-13.1-6.7h-10.3
    c-3.5,0-6.3-2.8-6.3-6.3S215.7,329.7,219.2,329.7z"/>
<path class="bubble2" fill="#243ABA" d="M222.1,346.6H193c-3.5,0-6.3,2.8-6.3,6.3s2.8,6.3,6.3,6.3h3.1l-5.2,6.7l13.1-6.7h18.2
    c3.5,0,6.3-2.8,6.3-6.3S225.6,346.6,222.1,346.6z"/>
<path fill="#243ABA" d="M163.6,234.4c0,0.6-0.5,1.2-1.2,1.2h-15.4c-0.6,0-1.2-0.5-1.2-1.2l0,0c0-0.6,0.5-1.2,1.2-1.2h15.4
    C163.1,233.2,163.6,233.7,163.6,234.4L163.6,234.4z"/>
<path fill="#243ABA" d="M154.8,225.5c0.6,0,1.2,0.5,1.2,1.2v15.4c0,0.6-0.5,1.2-1.2,1.2l0,0c-0.6,0-1.2-0.5-1.2-1.2v-15.4
    C153.6,226.1,154.2,225.5,154.8,225.5L154.8,225.5z"/>
<path fill="#AAADB2" d="M374.1,339.2c0,0.6-0.5,1.2-1.2,1.2h-30.8c-0.6,0-1.2-0.5-1.2-1.2l0,0c0-0.6,0.5-1.2,1.2-1.2H373
    C373.6,338,374.1,338.5,374.1,339.2L374.1,339.2z"/>
<path fill="#AAADB2" d="M357.6,322.6c0.6,0,1.2,0.5,1.2,1.2v30.8c0,0.6-0.5,1.2-1.2,1.2l0,0c-0.6,0-1.2-0.5-1.2-1.2v-30.8
    C356.4,323.1,356.9,322.6,357.6,322.6L357.6,322.6z"/>
<path fill="#AAADB2" d="M369.3,327.5c0.4,0.4,0.4,1.2,0,1.6l-21.8,21.8c-0.4,0.4-1.2,0.4-1.6,0l0,0c-0.4-0.4-0.4-1.2,0-1.6
    l21.8-21.8C368.1,327,368.8,327,369.3,327.5L369.3,327.5z"/>
<path fill="#AAADB2" d="M345.9,327.5c0.4-0.4,1.2-0.4,1.6,0l21.8,21.8c0.4,0.4,0.4,1.2,0,1.6l0,0c-0.4,0.4-1.2,0.4-1.6,0
    l-21.8-21.8C345.4,328.6,345.4,327.9,345.9,327.5L345.9,327.5z"/>
<path fill="#51545E" d="M122.7,168.5c0,0.6-0.5,1.2-1.2,1.2H90.8c-0.6,0-1.2-0.5-1.2-1.2l0,0c0-0.6,0.5-1.2,1.2-1.2h30.8
    C122.2,167.4,122.7,167.9,122.7,168.5L122.7,168.5z"/>
<path fill="#51545E" d="M106.2,152c0.6,0,1.2,0.5,1.2,1.2v38.5c0,0.6-0.5,1.2-1.2,1.2l0,0c-0.6,0-1.2-0.5-1.2-1.2v-38.5
    C105,152.5,105.5,152,106.2,152L106.2,152z"/>
<path fill="#51545E" d="M117.9,156.8c0.4,0.4,0.4,1.2,0,1.6l-21.8,21.8c-0.4,0.4-1.2,0.4-1.6,0l0,0c-0.4-0.4-0.4-1.2,0-1.6
    l21.8-21.8C116.7,156.4,117.4,156.4,117.9,156.8L117.9,156.8z"/>
<path fill="#51545E" d="M94.5,156.8c0.4-0.4,1.2-0.4,1.6,0l21.8,21.8c0.4,0.4,0.4,1.2,0,1.6l0,0c-0.4,0.4-1.2,0.4-1.6,0l-21.8-21.8
    C94,158,94,157.3,94.5,156.8L94.5,156.8z"/>
<circle fill="#FDCD00" cx="197.7" cy="143.2" r="2.3"/>
<circle fill="#060A19" cx="153.8" cy="388" r="2.3"/>
<circle fill="#FDCD00" cx="771.2" cy="169.8" r="2.3"/>
<circle fill="#2EBD59" cx="282.9" cy="296.5" r="2.3"/>
<circle fill="#AAADB2" cx="122.3" cy="131.8" r="2.3"/>
<circle fill="#2EBD59" cx="648.6" cy="295.3" r="2.3"/>
<path fill="#4855F1" d="M836.4,171.2c0,0.6-0.5,1.2-1.2,1.2h-15.4c-0.6,0-1.2-0.5-1.2-1.2l0,0c0-0.6,0.5-1.2,1.2-1.2h15.4
    C835.8,170.1,836.4,170.6,836.4,171.2L836.4,171.2z"/>
<path fill="#4855F1" d="M827.5,162.4c0.6,0,1.2,0.5,1.2,1.2v15.4c0,0.6-0.5,1.2-1.2,1.2l0,0c-0.6,0-1.2-0.5-1.2-1.2v-15.4
    C826.4,162.9,826.9,162.4,827.5,162.4L827.5,162.4z"/>
<path fill="#51545E" d="M741.7,437.3c0,0.6-0.5,1.2-1.2,1.2h-15.4c-0.6,0-1.2-0.5-1.2-1.2l0,0c0-0.6,0.5-1.2,1.2-1.2h15.4
    C741.2,436.1,741.7,436.7,741.7,437.3L741.7,437.3z"/>
<path fill="#51545E" d="M732.9,428.5c0.6,0,1.2,0.5,1.2,1.2V445c0,0.6-0.5,1.2-1.2,1.2l0,0c-0.6,0-1.2-0.5-1.2-1.2v-15.4
    C731.7,429,732.2,428.5,732.9,428.5L732.9,428.5z"/>
<path fill="#AAADB2" d="M789.6,74.5c0,0.6-0.5,1.2-1.2,1.2h-30.8c-0.6,0-1.2-0.5-1.2-1.2l0,0c0-0.6,0.5-1.2,1.2-1.2h30.8
    C789.1,73.4,789.6,73.9,789.6,74.5L789.6,74.5z"/>
<path fill="#AAADB2" d="M773.1,58c0.6,0,1.2,0.5,1.2,1.2v38.5c0,0.6-0.5,1.2-1.2,1.2l0,0c-0.6,0-1.2-0.5-1.2-1.2V59.2
    C772,58.5,772.5,58,773.1,58L773.1,58z"/>
<path fill="#AAADB2" d="M784.8,62.9c0.4,0.4,0.4,1.2,0,1.6L763,86.2c-0.4,0.4-1.2,0.4-1.6,0l0,0c-0.4-0.4-0.4-1.2,0-1.6l21.8-21.8
    C783.6,62.4,784.4,62.4,784.8,62.9L784.8,62.9z"/>
<path fill="#AAADB2" d="M761.4,62.9c0.4-0.4,1.2-0.4,1.6,0l21.8,21.8c0.4,0.4,0.4,1.2,0,1.6l0,0c-0.4,0.4-1.2,0.4-1.6,0l-21.8-21.8
    C761,64,761,63.3,761.4,62.9L761.4,62.9z"/>
<circle fill="#E2E6ED" cx="488.3" cy="405" r="2.3"/>
<circle fill="#4855F1" cx="660.7" cy="273" r="2.3"/>
<circle fill="#FDCD00" cx="99.9" cy="308.8" r="2.3"/>
<path fill="#060A19" d="M377.5,426.8c-29.4,6.6-58.7-6.6-88.1,0c0-15.8,0-31.6,0-47.3c29.4-6.6,58.7,6.6,88.1,0
    C377.5,395.3,377.5,411,377.5,426.8z"/>
<path fill="#FDCD00" d="M333.4,418.3c-8.5,0-15.4-6.9-15.4-15.4s6.9-15.4,15.4-15.4c8.5,0,15.4,6.9,15.4,15.4
    S341.9,418.3,333.4,418.3z"/>
<path fill="#FFFFFF" d="M329.1,407c0,1.2,0.9,1.7,1.9,1.1l7.6-4.2c1-0.6,1-1.5,0-2.1l-7.6-4.2c-1-0.6-1.9-0.1-1.9,1.1V407z"/>
<path fill="#4855F1" d="M209.4,153.9c19.8,4.5,39.6-4.5,59.4,0c0-10.6,0-21.3,0-31.9c-19.8-4.5-39.6,4.5-59.4,0
    C209.4,132.6,209.4,143.3,209.4,153.9z"/>
<path fill="#FDCD00" d="M239.1,148.1c-5.7,0-10.4-4.7-10.4-10.4s4.7-10.4,10.4-10.4c5.7,0,10.4,4.7,10.4,10.4
    S244.8,148.1,239.1,148.1z"/>
<path fill="#FFFFFF" d="M236.2,140.6c0,0.8,0.6,1.1,1.3,0.8l5.2-2.9c0.7-0.4,0.7-1,0-1.4l-5.2-2.9c-0.7-0.4-1.3-0.1-1.3,0.8V140.6
    z"/>
<polygon fill="#FDCD00" points="159.9,374.3 153.8,371.2 147.6,374.3 147.6,269.2 153.8,272.2 159.9,269.2 "/>
<polygon fill="#2EBD59" points="153.8,266.1 147.6,269.2 153.8,272.2 159.9,269.2 "/>
<path fill="#060A19" d="M665.6,324.3h-2.2v4.6h2.2c1.3,0,2.3-1,2.3-2.3C667.9,325.3,666.9,324.3,665.6,324.3z"/>
<polygon fill="#3D3F47" points="658,332.7 663.4,328.9 663.4,324.3 658,320.5     "/>
<polygon fill="#060A19" points="536.5,335.1 532.2,326.6 536.5,318.2 573.2,318.2 573.2,335.1     "/>
<polygon fill="#060A19" points="552.9,320.5 549.8,326.6 552.9,332.7 658,332.7 658,320.5     "/>
<path fill="#E2E6ED" d="M570.8,327h-31.5c-0.6,0-1.1,0.9-1.1,1.5s0.5,1.5,1.1,1.5h31.5c0.6,0,1.1-0.9,1.1-1.5S571.4,327,570.8,327z
    "/>
<path fill="#AAADB2" d="M891.9,252c0-9-7.1-15.8-15.8-15.8c-8.7,0-15.8,6.8-15.8,15.8H891.9z"/>
<path fill="#AAADB2" d="M908.5,252c0-5-3.5-7.9-7.9-7.9c-4.4,0-7.9,2.9-7.9,7.9H908.5z"/>
<path fill="#ABE5BD" d="M123.1,116c0-9-7.1-15.8-15.8-15.8S91.5,107,91.5,116H123.1z"/>
<path fill="#ABE5BD" d="M138.7,116c0-5-3.5-7.9-7.9-7.9c-4.4,0-7.9,2.9-7.9,7.9H138.7z"/>
<path fill="#ABE5BD" d="M138.1,75c0-8-7.1-15.8-15.8-15.8S106.5,67,106.5,75H138.1z"/>
<path fill="#ABE5BD" d="M153.7,75c0-3-3.5-7.9-7.9-7.9c-4.4,0-7.9,4.9-7.9,7.9H153.7z"/>
<path fill="#ABE5BD" d="M106.4,75c0-3-3.5-7.9-7.9-7.9c-4.4,0-7.9,4.9-7.9,7.9H106.4z"/>
<path fill="#FDCD00" d="M146.8,92.6c0,0.6-0.5,1.2-1.2,1.2h-15.4c-0.6,0-1.2-0.5-1.2-1.2l0,0c0-0.6,0.5-1.2,1.2-1.2h15.4
    C146.3,91.4,146.8,91.9,146.8,92.6L146.8,92.6z"/>
<path fill="#FDCD00" d="M138,83.7c0.6,0,1.2,0.5,1.2,1.2v15.4c0,0.6-0.5,1.2-1.2,1.2l0,0c-0.6,0-1.2-0.5-1.2-1.2V84.9
    C136.8,84.3,137.3,83.7,138,83.7L138,83.7z"/>
<path fill="#FDCD00" d="M874.5,281c0,0.6-0.5,1.2-1.2,1.2H858c-0.6,0-1.2-0.5-1.2-1.2l0,0c0-0.6,0.5-1.2,1.2-1.2h15.4
    C874,279.8,874.5,280.4,874.5,281L874.5,281z"/>
<path fill="#FDCD00" d="M865.7,272.1c0.6,0,1.2,0.5,1.2,1.2v15.4c0,0.6-0.5,1.2-1.2,1.2l0,0c-0.6,0-1.2-0.5-1.2-1.2v-15.4
    C864.5,272.7,865,272.1,865.7,272.1L865.7,272.1z"/>
<path fill="#FDCD00" d="M911.8,150c-4.1-4.1-9.6-6.3-15.4-6.3c-5.8,0-11.3,2.2-15.4,6.3c-4.1,4.1-6.4,9.5-6.4,15.2
    c0,5.3,2,10.3,5.5,14.3c0,0,0,0,0.1,0.1c2,2.3,3,5,3,7.8c0,2.7,0.8,5.3,2.4,7.5c0,0,0,0.1,0.1,0.1h21.7c0,0,0-0.1,0.1-0.1
    c1.6-2.2,2.4-4.8,2.4-7.5c0-2.8,1-5.5,3-7.8c0,0,0,0,0,0c3.6-3.9,5.5-9,5.5-14.3C918.2,159.5,915.9,154.1,911.8,150z"/>
<polygon fill="none" points="893.2,206.3 894.9,208 897.8,208 899.5,206.3 899.7,205.2 893,205.2  "/>
<rect x="890.7" y="195.9" fill="none" width="11.3" height="4.2"/>
<path d="M903.9,163.3c-1.3-0.6-2.8-0.1-3.5,1.2l-4.1,8.3l-4.1-8.3c-0.6-1.3-2.2-1.8-3.5-1.2c-1.3,0.6-1.8,2.2-1.2,3.5l6.4,12.9
    c0.9,1.9,3.6,1.9,4.6,0l6.4-12.9C905.7,165.4,905.2,163.9,903.9,163.3z"/>
<polygon fill="#AAADB2" points="889.7,206.6 893.3,210.2 899.5,210.2 903.1,206.6 903.1,204.1 889.7,204.1     "/>
<path fill="#51545E" d="M885.6,194.9v7.5c0,0.9,0.7,1.7,1.7,1.7h18.3c0.9,0,1.7-0.7,1.7-1.7v-7.5H885.6z"/>
<path fill="#2EBD59" d="M884.6,136.3c-1.2,0.5-2.5-0.1-3-1.3l-10.1-24.4c-0.5-1.2,0.1-2.5,1.3-3c1.2-0.5,2.5,0.1,3,1.3l10.1,24.4
    C886.3,134.5,885.8,135.8,884.6,136.3z"/>
<path fill="#2EBD59" d="M924.8,153c-0.5-1.2,0.1-2.5,1.3-3l24.4-10.1c1.2-0.5,2.5,0.1,3,1.3s-0.1,2.5-1.3,3l-24.4,10.1
    C926.7,154.7,925.3,154.2,924.8,153z"/>
<path fill="#2EBD59" d="M839.2,188.5c-0.5-1.2,0.1-2.5,1.3-3l24.4-10.1c1.2-0.5,2.5,0.1,3,1.3s-0.1,2.5-1.3,3l-24.4,10.1
    C841.1,190.2,839.7,189.7,839.2,188.5z"/>
<path fill="#2EBD59" d="M924.8,176.6c0.5-1.2,1.8-1.7,3-1.3l24.4,10.1c1.2,0.5,1.7,1.8,1.3,3c-0.5,1.2-1.8,1.7-3,1.3l-24.4-10.1
    C924.9,179.1,924.4,177.8,924.8,176.6z"/>
<path fill="#2EBD59" d="M839.2,141.1c0.5-1.2,1.8-1.7,3-1.3l24.4,10.1c1.2,0.5,1.7,1.8,1.3,3c-0.5,1.2-1.8,1.7-3,1.3l-24.4-10.1
    C839.3,143.7,838.7,142.3,839.2,141.1z"/>
<path fill="#2EBD59" d="M920,107.6c1.2,0.5,1.7,1.8,1.3,3l-10.1,24.4c-0.5,1.2-1.8,1.7-3,1.3c-1.2-0.5-1.7-1.8-1.3-3l10.1-24.4
    C917.5,107.7,918.9,107.1,920,107.6z"/>
<circle fill="#AAADB2" cx="749.7" cy="190.1" r="2.3"/>
<circle fill="#243ABA" cx="785.2" cy="146.9" r="11.8"/>
<circle fill="#FDCD00" cx="800.2" cy="146.9" r="11.8"/>
<circle fill="#2EBD59" cx="648.5" cy="410.8" r="5.6"/>
<circle fill="#E2E6ED" cx="115.2" cy="349" r="11.8"/>
<circle fill="#AAADB2" cx="130.2" cy="349" r="11.8"/>
<circle fill="#B6BBF9" cx="130.5" cy="240" r="5.6"/>
<path fill="#E2E6ED" d="M697.7,171.9c-22.3,0-41.4-14.8-48.3-34.9c7.9,6.8,18.4,10.4,29.2,10.4c25.2,0,46.1-20.5,46.1-46.1
    c0-10.8-4-21.3-10.4-29.2c20.2,6.8,34.9,25.9,34.9,48.3C748.8,149.2,725.8,171.9,697.7,171.9z"/>
<rect x="464.3" y="437.3" fill="#E2E6ED" width="164.9" height="79.5"/>
<path fill="#51545E" d="M621.5,424.2H471.9c-4.2,0-7.7,3.5-7.7,7.7v5.4h164.9v-5.4C629.2,427.6,625.7,424.2,621.5,424.2z"/>
<circle fill="#FDCD00" cx="478.5" cy="430.7" r="2.7"/>
<circle fill="#FFFFFF" cx="486.2" cy="430.7" r="2.7"/>
<circle fill="#FFFFFF" cx="493.9" cy="430.7" r="2.7"/>
<circle fill="#FDCD00" cx="429.4" cy="480.5" r="11.8"/>
<circle fill="#2EBD59" cx="429.4" cy="495.5" r="11.8"/>
<circle fill="#FDCD00" cx="711.9" cy="469.5" r="2.3"/>
<circle fill="#AAADB2" cx="691.1" cy="448.5" r="2.3"/>
<path fill="#243ABA" d="M672.2,458.3c0,0.6-0.5,1.2-1.2,1.2h-15.4c-0.6,0-1.2-0.5-1.2-1.2l0,0c0-0.6,0.5-1.2,1.2-1.2H671
    C671.7,457.2,672.2,457.7,672.2,458.3L672.2,458.3z"/>
<path fill="#243ABA" d="M663.4,449.5c0.6,0,1.2,0.5,1.2,1.2V466c0,0.6-0.5,1.2-1.2,1.2l0,0c-0.6,0-1.2-0.5-1.2-1.2v-15.4
    C662.2,450,662.7,449.5,663.4,449.5L663.4,449.5z"/>
<circle fill="#FDCD00" cx="804.3" cy="471.8" r="62.2"/>
<path fill="#FFFFFF" d="M816.7,499.5l-11.8-26.1c-1.1-2.5-2.1-7.2-2.1-9.9v-11.2c1.2-0.8,2-2.3,2-3.9v-0.6c0-2.6-2.1-4.7-4.7-4.7
    h-14.9c-2.6,0-4.7,2.1-4.7,4.7v0.6c0,1.6,0.8,3,2,3.9v11.2c0,2.7-1,7.3-2.2,9.8l-12.4,26.2c-1.1,2.4-1.1,4.9,0.1,6.9
    c1.2,1.9,3.5,3.1,6.1,3.1h36.1c2.7,0,4.9-1.1,6.2-3.1C817.7,504.4,817.8,501.9,816.7,499.5z"/>
<path fill="#2EBD59" d="M774.2,506.6h36.1c1.7,0,3.1-0.7,3.8-1.8c0.7-1.1,0.7-2.7,0-4.2l-8.1-17.9c-4.5,0.1-9.3,0.8-13.8,2.7
    c-5.6,2.4-10.9,2.4-15.4,1.5l-6.5,13.7c-0.7,1.5-0.7,3.1,0,4.2C771.1,506,772.5,506.6,774.2,506.6z"/>
<circle fill="#ABE5BD" cx="802.1" cy="491.8" r="2.1"/>
<circle fill="#ABE5BD" cx="782" cy="495.3" r="3.1"/>
<circle fill="#2EBD59" cx="786.3" cy="481.4" r="1.3"/>
<circle fill="#2EBD59" cx="796.6" cy="475" r="2.1"/>
<path fill="#FFFFFF" d="M844.8,477.3l-9.1-20c-0.9-1.9-1.6-5.5-1.6-7.6v-8.6c0.9-0.7,1.6-1.7,1.6-3v-0.4c0-2-1.6-3.6-3.6-3.6
    h-11.4c-2,0-3.6,1.6-3.6,3.6v0.4c0,1.2,0.6,2.3,1.6,3v8.6c0,2.1-0.8,5.6-1.7,7.5l-9.5,20.1c-0.9,1.9-0.8,3.8,0.1,5.3
    c0.9,1.5,2.7,2.4,4.7,2.4h27.7c2,0,3.8-0.9,4.7-2.3C845.6,481.1,845.7,479.2,844.8,477.3z"/>
<path fill="#4855F1" d="M840,482.2h-27.7c-1.1,0-2-0.4-2.4-1.1c-0.4-0.7-0.4-1.6,0-2.6l7.2-15.9c3.2,1.3,6.3,2.3,9,2.8
    c3.9,0.7,7.3,0.7,10.1,0.3l6.1,12.9c0.5,1,0.5,1.9,0.1,2.6C841.9,481.8,841.1,482.2,840,482.2z"/>
<circle fill="#4855F1" cx="823.2" cy="456.8" r="2.1"/>
<circle fill="#4855F1" cx="827.4" cy="445.8" r="1.3"/>
<circle fill="#4855F1" cx="828.6" cy="461.2" r="1.3"/>
<circle fill="#B6BBF9" cx="816.2" cy="474.4" r="1.3"/>
<path fill="#FDCD00" d="M324.8,355.2c0,0.6-0.5,1.2-1.2,1.2h-15.4c-0.6,0-1.2-0.5-1.2-1.2l0,0c0-0.6,0.5-1.2,1.2-1.2h15.4
    C324.3,354,324.8,354.5,324.8,355.2L324.8,355.2z"/>
<path fill="#FDCD00" d="M316,346.3c0.6,0,1.2,0.5,1.2,1.2v15.4c0,0.6-0.5,1.2-1.2,1.2l0,0c-0.6,0-1.2-0.5-1.2-1.2v-15.4
    C314.8,346.8,315.3,346.3,316,346.3L316,346.3z"/>
<path fill="#FFFFFF" d="M459.5,120.8c-0.1,0-0.5,0-1.5,0v25c1,0,1.6,0,1.7,0c8.5,0.2,17.5,5.7,17.5,16.7c0,11.1-9.3,16.7-17.8,16.9
    c-0.2,0-0.4,0-1.4,0V200h14v67h-14v26.5c1,0,1.4,0,1.5,0c47.7,0,86.4-38.7,86.4-86.4S507.2,120.8,459.5,120.8z"/>
<path fill="#2EBD59" d="M445.9,269l0.2-71h14v-18.8c-8,0-16.9-5.8-16.9-16.8c0-11.1,8.9-16.6,16.9-16.7v-25
    c-48,0.1-86.2,38.7-86.2,86.4s38.2,86.3,86.2,86.4V269H445.9z"/>
<path fill="#2EBD59" d="M534.5,171.6c0,2,1.6,3.6,3.6,3.6c1,0,1.9-0.4,2.5-1c-0.9-2.1-1.8-4.1-2.8-6
    C535.9,168.2,534.5,169.7,534.5,171.6z"/>
<circle fill="#2EBD59" cx="530.9" cy="178.7" r="3.6"/>
<circle fill="#2EBD59" cx="530.9" cy="164.5" r="3.6"/>
<circle fill="#2EBD59" cx="538" cy="200" r="3.6"/>
<circle fill="#2EBD59" cx="530.9" cy="192.9" r="3.6"/>
<path fill="#2EBD59" d="M541.6,192.9c0,2,1.6,3.6,3.6,3.6c0.4,0,0.9-0.1,1.3-0.2c-0.3-2.3-0.7-4.6-1.2-6.9c0,0-0.1,0-0.1,0
    C543.2,189.3,541.6,190.9,541.6,192.9z"/>
<path fill="#2EBD59" d="M538,189.3c2,0,3.6-1.6,3.6-3.6c0-1-0.4-1.9-1-2.5c-0.6-0.6-1.5-1-2.5-1c-1,0-1.9,0.4-2.5,1
    c-0.6,0.6-1,1.5-1,2.5C534.5,187.7,536.1,189.3,538,189.3z"/>
<circle fill="#2EBD59" cx="502.5" cy="150.2" r="3.6"/>
<circle fill="#2EBD59" cx="516.7" cy="150.2" r="3.6"/>
<circle fill="#2EBD59" cx="523.8" cy="171.6" r="3.6"/>
<circle fill="#2EBD59" cx="509.6" cy="171.6" r="3.6"/>
<circle fill="#2EBD59" cx="502.5" cy="178.7" r="3.6"/>
<circle fill="#2EBD59" cx="516.7" cy="178.7" r="3.6"/>
<circle fill="#2EBD59" cx="502.5" cy="164.5" r="3.6"/>
<circle fill="#2EBD59" cx="516.7" cy="164.5" r="3.6"/>
<circle fill="#2EBD59" cx="523.8" cy="157.4" r="3.6"/>
<circle fill="#2EBD59" cx="509.6" cy="157.4" r="3.6"/>
<circle fill="#2EBD59" cx="523.8" cy="200" r="3.6"/>
<circle fill="#2EBD59" cx="509.6" cy="200" r="3.6"/>
<circle fill="#2EBD59" cx="502.5" cy="192.9" r="3.6"/>
<circle fill="#2EBD59" cx="516.7" cy="192.9" r="3.6"/>
<path fill="#2EBD59" d="M526.3,183.2c-0.6-0.6-1.5-1-2.5-1c-1,0-1.9,0.4-2.5,1c-0.6,0.6-1,1.5-1,2.5c0,2,1.6,3.6,3.6,3.6
    c2,0,3.6-1.6,3.6-3.6C527.4,184.8,527,183.9,526.3,183.2z"/>
<path fill="#2EBD59" d="M509.6,182.2c-1,0-1.9,0.4-2.5,1c-0.6,0.6-1,1.5-1,2.5c0,2,1.6,3.6,3.6,3.6c2,0,3.6-1.6,3.6-3.6
    c0-1-0.4-1.9-1-2.5S510.6,182.2,509.6,182.2z"/>
<circle fill="#2EBD59" cx="474.1" cy="150.2" r="3.6"/>
<circle fill="#2EBD59" cx="488.3" cy="150.2" r="3.6"/>
<path fill="#2EBD59" d="M495.4,182.2c-1,0-1.9,0.4-2.5,1s-1,1.5-1,2.5c0,2,1.6,3.6,3.6,3.6s3.6-1.6,3.6-3.6c0-1-0.4-1.9-1-2.5
    S496.4,182.2,495.4,182.2z"/>
<path fill="#2EBD59" d="M481.2,189.3c2,0,3.6-1.6,3.6-3.6c0-1-0.4-1.9-1-2.5c-0.6-0.6-1.5-1-2.5-1c-1,0-1.9,0.4-2.5,1
    s-1,1.5-1,2.5C477.7,187.7,479.3,189.3,481.2,189.3z"/>
<circle fill="#2EBD59" cx="495.4" cy="171.6" r="3.6"/>
<circle fill="#2EBD59" cx="481.2" cy="171.6" r="3.6"/>
<circle fill="#2EBD59" cx="474.1" cy="178.7" r="3.6"/>
<circle fill="#2EBD59" cx="488.3" cy="178.7" r="3.6"/>
<circle fill="#2EBD59" cx="474.1" cy="164.5" r="3.6"/>
<circle fill="#2EBD59" cx="488.3" cy="164.5" r="3.6"/>
<circle fill="#2EBD59" cx="495.4" cy="157.4" r="3.6"/>
<circle fill="#2EBD59" cx="481.2" cy="157.4" r="3.6"/>
<circle fill="#2EBD59" cx="495.4" cy="200" r="3.6"/>
<circle fill="#2EBD59" cx="481.2" cy="200" r="3.6"/>
<circle fill="#2EBD59" cx="474.1" cy="192.9" r="3.6"/>
<circle fill="#2EBD59" cx="488.3" cy="192.9" r="3.6"/>
<path fill="#2EBD59" d="M463,150.2c0-1.8-1-3.2-3-3.5v7C462,153.5,463,152,463,150.2z"/>
<path fill="#2EBD59" d="M467,189.3c2,0,3.6-1.6,3.6-3.6c0-1-0.4-1.9-1-2.5c-0.6-0.6-1.5-1-2.5-1c-1,0-1.9,0.4-2.5,1s-1,1.5-1,2.5
    C463.5,187.7,465.1,189.3,467,189.3z"/>
<circle fill="#2EBD59" cx="467" cy="171.6" r="3.6"/>
<path fill="#2EBD59" d="M463,178.7c0-1.8-1-3.2-3-3.5v7C462,181.9,463,180.4,463,178.7z"/>
<path fill="#2EBD59" d="M463,164.5c0-1.8-1-3.2-3-3.5v7C462,167.7,463,166.2,463,164.5z"/>
<circle fill="#2EBD59" cx="467" cy="157.4" r="3.6"/>
<path fill="#2EBD59" d="M463,192.9c0-1.8-1-3.2-3-3.5v7C462,196.1,463,194.6,463,192.9z"/>
<circle fill="#2EBD59" cx="530.9" cy="207.1" r="3.6"/>
<path fill="#2EBD59" d="M541.6,207.1c0,2,1.6,3.6,3.6,3.6c0.7,0,1.3-0.2,1.9-0.6c0-1,0.1-2,0.1-2.9c0-1,0-2-0.1-3.1
    c-0.5-0.3-1.2-0.6-1.9-0.6C543.2,203.5,541.6,205.1,541.6,207.1z"/>
<circle fill="#2EBD59" cx="538" cy="228.4" r="3.6"/>
<circle fill="#2EBD59" cx="530.9" cy="235.5" r="3.6"/>
<circle fill="#2EBD59" cx="530.9" cy="221.3" r="3.6"/>
<path fill="#2EBD59" d="M541.6,221.3c0,2,1.6,3.6,3.6,3.6c0,0,0.1,0,0.1,0c0.5-2.3,0.9-4.5,1.1-6.8c-0.4-0.2-0.8-0.2-1.3-0.2
    C543.2,217.7,541.6,219.3,541.6,221.3z"/>
<circle fill="#2EBD59" cx="538" cy="214.2" r="3.6"/>
<circle fill="#2EBD59" cx="530.9" cy="249.7" r="3.6"/>
<path fill="#2EBD59" d="M538,239c-2,0-3.6,1.6-3.6,3.6c0,1.9,1.5,3.4,3.3,3.5c1-2,1.9-4,2.8-6C539.9,239.4,539,239,538,239z"/>
<circle fill="#2EBD59" cx="509.6" cy="143.1" r="3.6"/>
<circle fill="#2EBD59" cx="502.5" cy="136" r="3.6"/>
<circle fill="#2EBD59" cx="502.5" cy="207.1" r="3.6"/>
<circle fill="#2EBD59" cx="516.7" cy="207.1" r="3.6"/>
<circle fill="#2EBD59" cx="523.8" cy="228.4" r="3.6"/>
<circle fill="#2EBD59" cx="509.6" cy="228.4" r="3.6"/>
<circle fill="#2EBD59" cx="502.5" cy="235.5" r="3.6"/>
<circle fill="#2EBD59" cx="516.7" cy="235.5" r="3.6"/>
<circle fill="#2EBD59" cx="502.5" cy="221.3" r="3.6"/>
<circle fill="#2EBD59" cx="516.7" cy="221.3" r="3.6"/>
<circle fill="#2EBD59" cx="523.8" cy="214.2" r="3.6"/>
<circle fill="#2EBD59" cx="509.6" cy="214.2" r="3.6"/>
<circle fill="#2EBD59" cx="523.8" cy="256.8" r="3.6"/>
<circle fill="#2EBD59" cx="509.6" cy="256.8" r="3.6"/>
<circle fill="#2EBD59" cx="502.5" cy="263.9" r="3.6"/>
<circle fill="#2EBD59" cx="516.7" cy="263.9" r="3.6"/>
<circle fill="#2EBD59" cx="502.5" cy="249.7" r="3.6"/>
<circle fill="#2EBD59" cx="516.7" cy="249.7" r="3.6"/>
<circle fill="#2EBD59" cx="523.8" cy="242.6" r="3.6"/>
<circle fill="#2EBD59" cx="509.6" cy="242.6" r="3.6"/>
<circle fill="#2EBD59" cx="502.5" cy="278.1" r="3.6"/>
<circle fill="#2EBD59" cx="509.6" cy="271" r="3.6"/>
<path fill="#2EBD59" d="M474.1,125.4c1.8,0,3.2-1.3,3.5-3c-2.3-0.5-4.6-0.8-7-1.1c0,0.2-0.1,0.3-0.1,0.5
    C470.6,123.8,472.2,125.4,474.1,125.4z"/>
<circle fill="#2EBD59" cx="495.4" cy="143.1" r="3.6"/>
<circle fill="#2EBD59" cx="481.2" cy="143.1" r="3.6"/>
<circle fill="#2EBD59" cx="474.1" cy="136" r="3.6"/>
<circle fill="#2EBD59" cx="488.3" cy="136" r="3.6"/>
<path fill="#2EBD59" d="M492.9,131.5c0.6,0.6,1.5,1,2.5,1s1.9-0.4,2.5-1c0.5-0.5,0.8-1.1,1-1.8c-2.1-1-4.2-2-6.3-2.8
    c-0.4,0.6-0.7,1.3-0.7,2.1C491.9,129.9,492.3,130.8,492.9,131.5z"/>
<path fill="#2EBD59" d="M481.2,132.5c1,0,1.9-0.4,2.5-1c0.6-0.6,1-1.5,1-2.5c0-2-1.6-3.6-3.6-3.6c-2,0-3.6,1.6-3.6,3.6
    c0,1,0.4,1.9,1,2.5C479.3,132.1,480.2,132.5,481.2,132.5z"/>
<circle fill="#2EBD59" cx="488.3" cy="207.1" r="3.6"/>
<circle fill="#2EBD59" cx="495.4" cy="228.4" r="3.6"/>
<circle fill="#2EBD59" cx="481.2" cy="228.4" r="3.6"/>
<circle fill="#2EBD59" cx="488.3" cy="235.5" r="3.6"/>
<circle fill="#2EBD59" cx="488.3" cy="221.3" r="3.6"/>
<circle fill="#2EBD59" cx="495.4" cy="214.2" r="3.6"/>
<circle fill="#2EBD59" cx="481.2" cy="214.2" r="3.6"/>
<circle fill="#2EBD59" cx="495.4" cy="256.8" r="3.6"/>
<circle fill="#2EBD59" cx="481.2" cy="256.8" r="3.6"/>
<circle fill="#2EBD59" cx="488.3" cy="263.9" r="3.6"/>
<circle fill="#2EBD59" cx="488.3" cy="249.7" r="3.6"/>
<circle fill="#2EBD59" cx="495.4" cy="242.6" r="3.6"/>
<circle fill="#2EBD59" cx="481.2" cy="242.6" r="3.6"/>
<path fill="#2EBD59" d="M495.4,281.6c-2,0-3.6,1.6-3.6,3.6c0,0.8,0.3,1.6,0.8,2.2c2.1-0.8,4.2-1.8,6.3-2.8
    C498.6,282.9,497.2,281.6,495.4,281.6z"/>
<circle fill="#2EBD59" cx="481.2" cy="285.2" r="3.6"/>
<path fill="#2EBD59" d="M474.1,288.7c-2,0-3.6,1.6-3.6,3.6c0,0.2,0,0.4,0.1,0.6c2.4-0.3,4.7-0.6,7-1.1
    C477.4,290.1,475.9,288.7,474.1,288.7z"/>
<circle fill="#2EBD59" cx="474.1" cy="278.1" r="3.6"/>
<circle fill="#2EBD59" cx="488.3" cy="278.1" r="3.6"/>
<circle fill="#2EBD59" cx="495.4" cy="271" r="3.6"/>
<circle fill="#2EBD59" cx="481.2" cy="271" r="3.6"/>
<path fill="#2EBD59" d="M463.2,121.8c0-0.4,0.1-0.7,0-1c-0.9,0-1.9,0-2.8,0c-0.1,0-0.4,0-0.4,0v4.6
    C462,125,463.2,123.6,463.2,121.8z"/>
<circle fill="#2EBD59" cx="467" cy="143.1" r="3.6"/>
<path fill="#2EBD59" d="M463,136c0-1.8-1-3.2-3-3.5v7C462,139.3,463,137.8,463,136z"/>
<path fill="#2EBD59" d="M467,132.5c1,0,1.9-0.4,2.5-1c0.6-0.6,1-1.5,1-2.5c0-2-1.6-3.6-3.6-3.6c-2,0-3.6,1.6-3.6,3.6
    c0,1,0.4,1.9,1,2.5C465.1,132.1,466,132.5,467,132.5z"/>
<path fill="#2EBD59" d="M463,207.1c0-1.8-1-3.2-3-3.5v7C462,210.3,463,208.8,463,207.1z"/>
<circle fill="#2EBD59" cx="467" cy="228.4" r="3.6"/>
<path fill="#2EBD59" d="M463,235.5c0-1.8-1-3.2-3-3.5v7C462,238.7,463,237.2,463,235.5z"/>
<path fill="#2EBD59" d="M463,221.3c0-1.8-1-3.2-3-3.5v7C462,224.5,463,223,463,221.3z"/>
<circle fill="#2EBD59" cx="467" cy="214.2" r="3.6"/>
<circle fill="#2EBD59" cx="467" cy="256.8" r="3.6"/>
<path fill="#2EBD59" d="M463,263.9c0-1.8-1-3.2-3-3.5v7C462,267.1,463,265.6,463,263.9z"/>
<path fill="#2EBD59" d="M463,249.7c0-1.8-1-3.2-3-3.5v7C462,252.9,463,251.4,463,249.7z"/>
<circle fill="#2EBD59" cx="467" cy="242.6" r="3.6"/>
<circle fill="#2EBD59" cx="467" cy="285.2" r="3.6"/>
<path fill="#2EBD59" d="M460,288.8v4.7c0,0,0.4,0,0.5,0c0.8,0,1.8,0,2.7,0c0.1-0.4,0-0.8,0-1.2C463.1,290.5,462,289.1,460,288.8z"
    />
<path fill="#2EBD59" d="M463,278.1c0-1.8-1-3.2-3-3.5v7C462,281.3,463,279.8,463,278.1z"/>
<circle fill="#2EBD59" cx="467" cy="271" r="3.6"/>
<path fill="#FFFFFF" d="M461,145.7c-0.2,0-0.3,0-0.5,0c-8.5,0-16.9,5.6-16.9,16.7c0,11.1,8.4,16.8,16.9,16.8c0.2,0,0.3,0,0.5,0
    c8.5-0.2,16.9-5.7,16.9-16.9C477.8,151.5,469.5,145.9,461,145.7z"/>
<polygon fill="#FFFFFF" points="460.5,198 446,198 445.9,269 460.5,269 475,269 475,198   "/>
<g class="watch">
    <path fill="none" d="M611.2,404.2c-13,0-23.6-10.6-23.6-23.6s10.6-23.6,23.6-23.6c13,0,23.6,10.6,23.6,23.6
        S624.2,404.2,611.2,404.2z"/>
    <path fill="#FDCD00" d="M613.1,378.6c-0.2-0.2-0.6-0.2-0.8,0l-1,1c-0.3-0.1-0.7,0-0.9,0.3s-0.3,0.6-0.3,0.9l-11.3,11.3
        c-0.2,0.2-0.2,0.6,0,0.8c0.2,0.2,0.6,0.2,0.8,0l11.3-11.3c0.3,0.1,0.7,0,0.9-0.3s0.3-0.6,0.3-0.9l1-1
        C613.3,379.2,613.3,378.8,613.1,378.6z"/>
</g>
<g class="grid">
    <line fill="none" stroke="#2EBD59" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" x1="474" y1="447.5" x2="619" y2="447.5"/>
    <line fill="none" stroke="#2EBD59" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" x1="474" y1="463.5" x2="619" y2="463.5"/>
    <line fill="none" stroke="#2EBD59" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" x1="473.5" y1="508" x2="473.5" y2="470"/>
    <line fill="none" stroke="#2EBD59" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" x1="504.5" y1="508" x2="504.5" y2="470"/>
    <line fill="none" stroke="#2EBD59" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" x1="511.5" y1="508" x2="511.5" y2="470"/>
    <line fill="none" stroke="#2EBD59" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" x1="542.5" y1="508" x2="542.5" y2="470"/>
    <line fill="none" stroke="#2EBD59" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" x1="549.5" y1="508" x2="549.5" y2="470"/>
    <line fill="none" stroke="#2EBD59" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" x1="580.5" y1="508" x2="580.5" y2="470"/>
    <line fill="none" stroke="#2EBD59" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" x1="587.5" y1="508" x2="587.5" y2="470"/>
    <line fill="none" stroke="#2EBD59" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" x1="618.5" y1="508" x2="618.5" y2="470"/>
</g>
<g class="head">
<path fill="#2EBD59" d="M193.1,236.5c-23,0-41.7-18.7-41.7-41.7s18.7-41.7,41.7-41.7c23,0,41.7,18.7,41.7,41.7
    C234.8,217.8,216.1,236.5,193.1,236.5z"/>
<path fill="#060A19" d="M184.6,209.4c0.4,0,0.8,0.2,1.1,0.5c2.1,2.1,4.9,3.3,7.9,3.3c3,0,5.8-1.2,7.9-3.3c0.6-0.6,1.6-0.6,2.2,0
    c0.6,0.6,0.6,1.6,0,2.2c-2.7,2.7-6.3,4.2-10.1,4.2c-3.8,0-7.4-1.5-10.1-4.2c-0.6-0.6-0.6-1.6,0-2.2
    C183.8,209.5,184.2,209.4,184.6,209.4z"/>
<path fill="#060A19" d="M171.2,197.4c-4.1,0-7.4-3.3-7.4-7.4c0-0.9,0.7-1.6,1.6-1.6s1.6,0.7,1.6,1.6c0,2.4,1.9,4.3,4.3,4.3
    s4.3-1.9,4.3-4.3c0-0.9,0.7-1.6,1.6-1.6c0.9,0,1.6,0.7,1.6,1.6C178.7,194,175.3,197.4,171.2,197.4z"/>
<path fill="#060A19" d="M215.1,197.4c-4.1,0-7.4-3.3-7.4-7.4c0-0.9,0.7-1.6,1.6-1.6s1.6,0.7,1.6,1.6c0,2.4,1.9,4.3,4.3,4.3
    c2.4,0,4.3-1.9,4.3-4.3c0-0.9,0.7-1.6,1.6-1.6c0.9,0,1.6,0.7,1.6,1.6C222.5,194,219.2,197.4,215.1,197.4z"/>
<path fill="#FDCD00" d="M198.7,201.4l-3.4-13.3c-0.2-0.9-1-1.5-2-1.5s-1.7,0.6-1.9,1.5l-3.4,13.4c-0.2,0.6,0,1.2,0.4,1.7
    c0.4,0.5,1,0.8,1.6,0.8h6.8c0,0,0,0,0,0c1.1,0,2-0.9,2-2C198.9,201.8,198.8,201.6,198.7,201.4z"/>
</g>
<g class="code">
    <line fill="none" stroke="#E7E5D4" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" x1="738" y1="231.5" x2="758" y2="231.5"/>
    <line fill="none" stroke="#E7E5D4" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" x1="744" y1="237" x2="764" y2="237"/>
    <line fill="none" stroke="#FFFFFF" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" x1="750" y1="242.6" x2="792" y2="242.6"/>
    <line fill="none" stroke="#FFFFFF" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" x1="750" y1="248.1" x2="795" y2="248.1"/>
    <line fill="none" stroke="#FFFFFF" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" x1="750" y1="253.6" x2="781" y2="253.6"/>
    <line fill="none" stroke="#4855F1" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" x1="750" y1="259.2" x2="774" y2="259.2"/>
    <line fill="none" stroke="#FFFFFF" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" x1="750" y1="264.7" x2="775" y2="264.7"/>
    <line fill="none" stroke="#FDCD00" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" x1="744" y1="270.2" x2="750" y2="270.2"/>
    <line fill="none" stroke="#FFFFFF" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" x1="744" y1="275.8" x2="786" y2="275.8"/>
    <line fill="none" stroke="#FFFFFF" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" x1="744" y1="281.3" x2="789" y2="281.3"/>
    <line fill="none" stroke="#FFFFFF" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" x1="744" y1="286.8" x2="775" y2="286.8"/>
    <line fill="none" stroke="#FFFFFF" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" x1="744" y1="292.3" x2="768" y2="292.3"/>
    <line fill="none" stroke="#4855F1" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" x1="744" y1="297.9" x2="754" y2="297.9"/>
    <line fill="none" stroke="#FDCD00" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" x1="738" y1="303.4" x2="744" y2="303.4"/>
    <line fill="none" stroke="#E7E5D4" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" x1="738" y1="308.9" x2="788" y2="308.9"/>
    <line fill="none" stroke="#4855F1" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" x1="744" y1="314.5" x2="775" y2="314.5"/>
    <line fill="none" stroke="#FFFFFF" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" x1="744" y1="320" x2="768" y2="320"/>
    <line fill="none" stroke="#4855F1" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" x1="744" y1="325.5" x2="775" y2="325.5"/>
    <line fill="none" stroke="#FDCD00" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" x1="738" y1="331.1" x2="744" y2="331.1"/>
    <line fill="none" stroke="#E7E5D4" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" x1="738" y1="336.6" x2="788" y2="336.6"/>
    <line fill="none" stroke="#FFFFFF" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" x1="744" y1="342.1" x2="786" y2="342.1"/>
    <line fill="none" stroke="#FFFFFF" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" x1="744" y1="347.7" x2="789" y2="347.7"/>
    <line fill="none" stroke="#FFFFFF" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" x1="744" y1="353.2" x2="775" y2="353.2"/>
    <line fill="none" stroke="#FFFFFF" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" x1="744" y1="358.7" x2="768" y2="358.7"/>
    <line fill="none" stroke="#4855F1" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" x1="744" y1="364.2" x2="754" y2="364.2"/>
    <line fill="none" stroke="#FDCD00" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" x1="738" y1="369.8" x2="744" y2="369.8"/>
    <line fill="none" stroke="#E7E5D4" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" x1="738" y1="375.3" x2="768" y2="375.3"/>
    <line fill="none" stroke="#4855F1" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" x1="744" y1="380.8" x2="772" y2="380.8"/>
    <line fill="none" stroke="#FFFFFF" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" x1="744" y1="386.4" x2="789" y2="386.4"/>
    <line fill="none" stroke="#FFFFFF" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" x1="744" y1="391.9" x2="775" y2="391.9"/>
    <line fill="none" stroke="#FFFFFF" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" x1="744" y1="397.4" x2="768" y2="397.4"/>
    <line fill="none" stroke="#4855F1" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" x1="744" y1="403" x2="758" y2="403"/>
    <line fill="none" stroke="#FDCD00" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" x1="738" y1="408.5" x2="744" y2="408.5"/>
</g>
</svg>
