<!DOCTYPE html>
<html>
<head>
  <% include ../template/head.ejs %>
</head>

<body>
    <div class="hero hero--primary">
        <% include ../organism/header.ejs %>
        <main class="main content" tabindex="-1">
        <div class="hero__banner wrap wrap--block">
            <div class="hero__title">
                <h1>404</h1>
                <h3>Page not found</h3>
            </div>
        </div>
        </main>
    </div>

    <% include ../template/contact.ejs %>
    <% include ../organism/footer.ejs %>

    <% include ../template/javascript.ejs %>
</body>
</html>
