<!-- add .cannot-scroll to body and is-active to this section to display-->
<section id="contact-overlay" class="section section--overlay section--contact is-vishidden" aria-hidden="true">
    <div class="wrap wrap--block">
    <button id="close-contact-overlay" type="button" class="faux-link" onClick="Function.contactClose()">Close</button>
        <div class="section__content" itemscope="" itemtype="http://schema.org/PostalAddress">
            <h2>Ben Rhodes</h3>
            <a class="h4" href="tel:+61433123737" itemprop="telephone" class="block">+61 433 123 737</a>
            <a class="h4" href="mailto:bennrhodes@gmail.com" itemprop="email" class="block">bennrhodes@gmail.com</a>
            <a class="h4" href="https://www.google.com.au/maps/place/Northcote+VIC+3070/data=!4m2!3m1!1s0x6ad6437c221de473:0x5045675218cd650?sa=X&ved=0ahUKEwi-r5-pztbOAhXJG5QKHWLnAS8Q8gEIGjAA" target="_blank">
                <span itemprop="addressLocality">Northcote</span>
                <span itemprop="addressRegion">VIC</span>
                <span itemprop="postalCode">3070</span>
            </a>
            <h5>Follow me on <a href="https://twitter.com/@benrhodesign" class="twitter" target="_blank">Twitter</a>, <a href="https://au.pinterest.com/benrhodesign/" class="pinterest" target="_blank">Pinterest</a> or <a href="https://www.instagram.com/benrhodesign" class="instagram" target="_blank">Instagram</a></h6>
        </div>
    </div>
</section>
