<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= title %></title>
<meta name="description" content="<%= description %>"/>
<link rel="stylesheet" type="text/css" href="<%= cssdirectory %>index.css" />
