<!DOCTYPE html>
<html>
<head>
  <% include ../template/head.ejs %>
</head>

<body>
    <div class="hero hero--info">
        <% include ../organism/header.ejs %>

        <div class="hero__banner wrap wrap--block">
            <% include ../atom/svg-info.ejs %>
        </div>
    </div>

    <main class="main content" tabindex="-1">
        <section class="section section--info">
            <div class="wrap wrap--block grid">
                <div class="section--info__intro">
                    <h3>I'm a Front End Developer with a flair for design that has just moved to Melbourne.</h3>
                    <p>Currently working for Fairfax Media with a team based in Sydney. I'm working on a side project called AttrDiff that is near complete. My focus recently has been on expanding my knowledge with&nbsp;React.</p>
                </div>

                <h2 class="section__title">Background</h2>
                <div class="row">
                    <div class="col-1-3--medium">
                        <h5 class="section__subtitle">Experience</h5>
                        <p><b>Fairfax Media 2014 — 2016</b> <br/>Help establish a custom HTML+CSS pattern library, mostly jquery style javascript, performance optimisation, CI/CD tasks (setting up perceptual difference tests specifically), node, grunt.</p>
                        <p><b>Cobe design 2012 — 2014</b> <br/>Web development, app prototyping, web design, video animation, branding.</p>
                        <p><b>Elastic digital 2009 — 2012</b> <br/>Flash development, HTML development, design, illustration, animaton,&nbsp;localisation.</p>
                    </div>
                    <div class="col-1-3--medium">
                        <h5 class="section__subtitle">Skills</h5>
                        <p>I'm a multi-skilled developer that's fairly commited to honing my craft and learning new skills. Below is a rough summary of my skills.</p>
                        <p>Accessible HTML, CSS, Javascript ES5/6 (Node, Knockout, jquery, Lodash), Gulp / Grunt, Git, PHP, Regex, React (No commercial experience), <s>Actionscript 3</s></p>
                        <p><b>Supplementary Skills</b> <br/>-Yes I am basically the powerball of development. Design (Creative suite, Sketch), illustration (simple vector style), user testing and After&nbsp;Effects.</p>
                    </div>
                    <div class="col-1-3--medium">
                        <h5 class="section__subtitle">Education</h5>
                        <p><b>St George college of design</b> <br/>Advanced diploma of Graphic Design <br/>2007 — 2010</p>
                        <p><b>Tractor</b> <br/>Digital design short course <br/>2013 — 2014</p>
                        <h5 class="section__subtitle">Interests</h5>
                        <p>My wife (Louise) and cat (Ninja) come first then big ideas, web-development, video games, board games, Jiu Jitsu, music (rock), movies (sci-fi), art and&nbsp;cooking.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <% include ../template/contact.ejs %>
    <% include ../organism/footer.ejs %>

    <% include ../template/javascript.ejs %>
</body>
</html>
