<!DOCTYPE html>
<html>
<head>
  <% include ../template/head.ejs %>
</head>

<body>
    <div class="hero hero--info">
        <% include ../organism/header.ejs %>

        <div class="hero__banner wrap wrap--block">
            <% include ../atom/svg-info.ejs %>
        </div>
    </div>

    <main class="main content" tabindex="-1">
        <section class="section">
            <div class="wrap wrap--block">

                <h2 class="section__title">BACKGROUND</h2>

                <div class="grid">
                    <div class="row">
                        <div class="col-1-6">
                            <div style="background: #f2f2f2">&nbsp;</div>
                        </div>
                        <div class="col-1-6">
                            <div style="background: #f2f2f2">&nbsp;</div>
                        </div>
                        <div class="col-1-6">
                            <div style="background: #f2f2f2">&nbsp;</div>
                        </div>
                        <div class="col-1-6">
                            <div style="background: #f2f2f2">&nbsp;</div>
                        </div>
                        <div class="col-1-6">
                            <div style="background: #f2f2f2">&nbsp;</div>
                        </div>
                        <div class="col-1-6">
                            <div style="background: #f2f2f2">&nbsp;</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-1-3">
                            <div style="background: #f2f2f2">&nbsp;</div>
                        </div>
                        <div class="col-1-3">
                            <div style="background: #f2f2f2">&nbsp;</div>
                        </div>
                        <div class="col-1-3">
                            <div style="background: #f2f2f2">&nbsp;</div>
                        </div>
                    </div>
                </div>

                <!-- form stuff -->
                <div>
                    <button class="btn">Button text</button>
                </div>

                <div>
                    <input id="text" type="text" placeholder="Text Input">
                </div>

                <div>
                    <input type="radio" name="example" checked="checked" />
                    <input type="radio" name="example" />
                </div>

                <div>
                    <input type="checkbox" checked="checked" />
                </div>

                <!-- type stuff -->
                <div>Primary font: "HelveticaNeue", "Helvetica", "Arial", sans-serif;</div>
                <div><em>Primary font italic: "HelveticaNeue", "Helvetica", "Arial", sans-serif;</em></div>
                <div><strong>Primary font bold: "HelveticaNeue", "Helvetica", "Arial", sans-serif;</strong></div>
                <div class="font-secondary">Secondary font: Georgia, Times, "Times New Roman", serif;</div>
                <div class="font-secondary"><em>Secondary font italic: Georgia, Times, "Times New Roman", serif;</em></div>
                <div class="font-secondary"><strong>Secondary font bold; Georgia, Times, "Times New Roman", serif;</strong></div>

                <h1>Heading Level 1</h1>
                <h2>Heading Level 2</h2>
                <h3>Heading Level 3</h3>
                <h4>Heading Level 4</h4>
                <h5>Heading Level 5</h5>
                <h6>Heading Level 6</h6>
                <p>A paragraph (from the Greek paragraphos, "to write beside" or "written beside") is a self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences. Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used to organize longer prose.</p>

                <!-- inline elements -->

                <div class="text">
                    <p><a href="#">This is a text link</a></p>

                    <p>A paragraph (from the Greek paragraphos, "to write beside" or "written beside") <a href="#">This is a text link</a> is a self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences. Though <a href="#">This is a text link</a> not required by the syntax of any <a href="#">This is a text link</a> language, paragraphs are usually an expected part of formal writing, used to organize longer prose.</p>

                    <p><strong>Strong is used to indicate strong importance</strong></p>

                    <p><em>This text has added emphasis</em></p>

                    <p>The <b>b element</b> is stylistically different text from normal text, without any special importance</p>

                    <p>The <i>i element</i> is text that is set off from the normal text</p>

                    <p>The <u>u element</u> is text with an unarticulated, though explicitly rendered, non-textual annotation</p>

                    <p><del>This text is deleted</del> and <ins>This text is inserted</ins></p>

                    <p><s>This text has a strikethrough</s></p>

                    <p>Superscript<sup>®</sup></p>

                    <p>Subscript for things like H<sub>2</sub>O</p>

                    <p><small>This small text is small for for fine print, etc.</small></p>

                    <p>Abbreviation: <abbr title="HyperText Markup Language">HTML</abbr></p>

                    <p>Keybord input: <kbd>Cmd</kbd></p>

                    <p><q cite="https://developer.mozilla.org/en-US/docs/HTML/Element/q">This text is a short inline quotation</q></p>

                    <p><cite>This is a citation</cite>

                    </p><p>The <dfn>dfn element</dfn> indicates a definition.</p>

                    <p>The <mark>mark element</mark> indicates a highlight</p>

                    <p><code>This is what inline code looks like.</code></p>

                    <p><samp>This is sample output from a computer program</samp></p>

                    <p>The <var>variarble element</var>, such as <var>x</var> = <var>y</var></p>
                </div>

                <div>
                    <pre>
                    P R E F O R M A T T E D T E X T
                    ! " # $ % &amp; ' ( ) * + , - . /
                    0 1 2 3 4 5 6 7 8 9 : ; &lt; = &gt; ?
                    @ A B C D E F G H I J K L M N O
                    P Q R S T U V W X Y Z [ \ ] ^ _
                    ` a b c d e f g h i j k l m n o
                    p q r s t u v w x y z { | } ~
                    </pre>
                </div>
            </div>
        </section>
    </main>
    <% include ../template/contact.ejs %>
    <% include ../organism/footer.ejs %>

    <% include ../inlinejs/supportsvg.ejs %>
    <% include ../template/javascript.ejs %>
</body>
</html>
