<!DOCTYPE html>
<html>
<head>
  <% include ../template/head.ejs %>
</head>

<body>

    <% include ../organism/header.ejs %>

    <main class="main content" tabindex="-1">
        <section class="section section--work">
            <div class="wrap wrap--block grid">
                <p>Portfolio coming soon</p>
                <div class="row">
                    <div class="col-1-3--medium">
                       row
                    </div>
                    <div class="col-1-3--medium">
                       row
                    </div>
                    <div class="col-1-3--medium">
                       row
                    </div>
                </div>
            </div>
        </section>
        <section class="section section--sideprojects">
            <div class="wrap wrap--block grid">
                <h3 class="section__title">Side projects</h3>
                <div class="row">
                    <ul class="col-1-2--medium">
                        <li>
                            <a href="/work/attrdiff">
                            <span class="icon icon--attrdiff"></span>
                            <h5 class="section__subtitle">AttrDiff</h5>
                            <em>A chrome extention to diff css attributes</em>
                            </a>
                        </li>
                        <li>
                            <a href="http://codepen.io/benrhodesign/pen/YWboQX" target="_blank">
                            <span class="icon icon--browserpen"></span>
                            <h5 class="section__subtitle">CSS Safari snapshot pen</h5>
                            <em>A simple reusable css pattern to mockup a safari window</em>
                            </a>
                        </li>
                    </ul>
                    <ul class="col-1-2--medium">
                        <li>
                            <a href="/work/albinism">
                            <span class="icon icon--albinism"></span>
                            <h5 class="section__subtitle">Fiji Albinism</h5>
                            <em>Identity for the first Fiji Albinism Symposium</em>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </main>
    <% include ../template/contact.ejs %>
    <% include ../organism/footer.ejs %>

    <% include ../template/javascript.ejs %>
</body>
</html>
